---
---

@import "{{ site.theme }}";

// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Philosopher:400,700');

// Set variables for body and header fonts
$body-font: 'Lato', "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;  
$header-font: 'Philosopher', "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Set body and header fonts
body {
  font-family: $body-font;
  font-size: 15px
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}

// Link colors
a {
  color:#00b359;
}

a:hover, a:focus {
  color:#22a458;
}

// Icon links
a.svg {
 position: relative;
 display: inline-block;
 width: 10%;
}
a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
}
object {
  width: 100%;
}